mixin nav(className)
	- let menu = [{name:'Главная',link:'hero'},{name:'Обо мне',link:'about'},{name:'Навыки',link:'skills'},{name:'Работы',link:'works'},{name:'Отзывы',link:'reviews'},{name:'Связаться',link:'contact'}]
	ul(class=`nav ${className}__nav`)
		for item in menu
			li.nav__item 
				a.nav__link.js-scrollTo(href=`#${item.link}`) #{item.name}

mixin socNet(className, mod='')
	- let socNet = [{name:'insta',link:'https://www.instagram.com/wisheshunter/'},{name:'vk',link:'https://vk.com/wisheshunter'},{name:'github',link:'https://github.com/WishHunter'}]
	ul(class=`socNet ${className}__socNet`)
		for social in socNet
			li.socNet__item
				a(class=`socNet__link ${mod}` href= social.link target='_blank') 
					+icon(social.name, 'socNet__icon')

mixin header(className, logo, socNet)
	div(class=`header ${className}__header`)
		.container
			.header__flex
				p.header__logo ДМ
				+nav('header')
				+socNet('header')
				