include ./components/hero.pug
include ./components/about.pug
include ./components/skills.pug
include ./components/works.pug

mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className id!=attributes.id)